.icon {
  margin: auto;
  width: 150px;
}

.sidebar {
  margin-bottom: 20px;

  a {
    display: block;
  }
}

.video {
  display: block;
  height: 170px;
  margin: 10px auto;
  width: 300px;
}

.info {
  height: auto;
  width: 100%;
}

.article_link {
  background: $primary;
  border-radius: 15px;
  color: white;
  display: inline-block;
  padding: 15px;
  margin: 5px 0 10px;
  text-decoration: none;
  width: auto;
}

@include respond-above(xs) {
  .video {
    height: 225px;
    width: 400px;
  }
}

@include respond-above(sm) {
  .seventy {
    box-sizing: border-box;
    padding-right: 40px;
    width: 70%;
  }

  .thirty {
    text-align: center;
    width: 30%;
  }

  .video {
    height: 315px;
    width: 560px;
  }

  .info {
    //width: 100%;
  }
}
