
/* Don't remember what these were for

.sidebar-nav {
    margin-top: 30px;
    padding: 0;
    list-style: none;
    background-color: none;
}

.content-wrapper {
    margin: 0px 0 0 0px;
    padding: 0 0px;
    overflow-y: scroll;
    position: relative;
    left: 0;
    top: 1;
    height:70vmin;
    background-color: white;
}
*/




.wrapper {
  display: block;

  .sidebar {
    @include size-fallback($mt0)
    width: 100%;
  }

  .projects {
    margin: 0;
    text-align: center;
    width: 100%;

    ul {
      padding: 0;
      margin: 0;
    }

    li {
      list-style: none;
      padding: 0 0 5px 0;

       &.current_project {
        border-bottom: 3px solid $primary;
        padding-bottom: 2px;
      }

      &:hover {
       border-bottom: 3px solid $primary;
       padding-bottom: 2px;
      }
    }

    a {
      display: block;
      text-decoration: none;
      width: 100%;
    }

    h2 {
      @include size-fallback($mt0)
      padding-bottom: 5px;
      padding-left: 10px;
    }
  }

  .main_content {
    width: 100%;
  }
}

@include respond-above(sm) {
  .wrapper {
    display: flex;

    .sidebar {
      @include size-fallback($mt-1)
      margin: 40px 20px 0 0;
      min-width: 150px;
      width: 150px;
    }

    .projects {
      text-align: left;

      li {
        list-style: none;
        padding: 0 0 0 10px;

         &.current_project {
          border-bottom: none;
          border-left: 3px solid $primary;
          padding-left: 7px;
          padding-bottom: 0;
        }

        &:hover {
        border-bottom: none;
         border-left: 3px solid $primary;
         padding-left: 7px;
         padding-bottom: 0;

          a {
            text-decoration: underline;
          }
        }
      }
    }

    .main_content {
      flex: 1 0 0;
    }
  }
}
