.staff_section {
  li,
  ul,
  ol {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .tabs {
    margin: 0 0 10px;

    a {
      background-color: $primary;
      border: 1px solid $primary;
      color: white;
      cursor: pointer;
      display: block;
      font-weight: bold;
      padding: 10px 20px;

      &.active_tab {
        background-color: white;
        color: $primary;
      }
    }
  }

  .tab-content {
    border: 1px solid $primary;
    display: none;
    margin-top: 0;
    padding: 25px;
    text-align: center;

    &.active_content {
      display: flex;
      flex-flow: row wrap;
    }

    .staff {
      flex: 1;
      margin: 5px auto;
      max-width: 300px;
      min-width: 200px;
      padding: 10px;

    }
  }

  .staff-image {
    border-radius: 100px;
    height: 150px;
    margin: 0 auto;
    overflow: hidden;
    width: 150px;

    img {
      width: 100%;
    }
  }

  .staff-content {
    margin: 5px auto;
    width: 100%;

    h4 {
      color: $primary;
      font-style: italic;
      font-weight: lighter;
      margin: 0;
    }
  }
}


@include respond-above(sm) {
  .staff_section {
    .tabs {
      display: flex;
      flex-flow: row;
      margin: 0 0 -1px;

      a {
        background-color: white;
        border: 1px solid $primary;
        border-radius: 5px 5px 0 0;
        color: black;
        display: block;
        font-weight: bold;
        padding: 10px 20px;
        margin-right: 10px;

        &.active_tab {
          border-bottom: 1px solid white;
        }

        &:hover {
          background-color: $primary;
          color: white;
          cursor: pointer;
        }
      }
    }

    .tab-content {
      border-radius: 0 5px 5px;
    }
  }

}
