.logo-img {
  height: auto;
  width: 200px;

  img {
    width: 100%;
  }
}

.header {
  flex: 1;
  padding: 5px 15px;
}

.main_nav {
  background-color: $primary;

  a {
    color: white;
    display: block;
    padding: 10px 20px;
    text-decoration: none;

    &:hover {
      background-color: white;
      color: $primary;
      text-decoration: underline;
    }
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
