main,
footer {
  padding: 10px 20px;

  &.flexible {
    align-items: center;
  }
}

main {
  section {
    padding: 20px 0;
  }
}

.flexible {
  display: flex;
  flex-flow: row wrap;
}

.tool {
  border: solid 3px #f0f0f0;
  box-sizing: border-box;
  flex: 1;
  margin-bottom: 20px;
  padding: 20px;
  text-align: center;
  transition: all 0.3s;

  &:hover {
    border-right: solid 3px #ccc;
    border-bottom: solid 3px #ccc;
    box-shadow: 7px 7px 10px #ccc;
    transform: translateY(-15px);
  }

  h1 {
    font-size: $mt1;
  }
}

@include respond-above(lg) {
  main,
  header,
  nav {
    margin: auto;
    max-width: 1500px;
    width: 80%;
  }

  .tool {
    margin: 10px;
    min-width: 300px;
  }
}
