$primary: #990000;

$font-family:
  -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  "Roboto",
  "Oxygen",
  "Ubuntu",
  "Cantarell",
  "Fira Sans",
  "Droid Sans",
  "Helvetica Neue",
  sans-serif;

$breakpoints: (
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1080px
);

// Perfect Fourth Modular Scale
$mt0: 1em;
$mt1: 1.333em;
$mt2: 1.777em;
$mt3: 2.369em;
$mt4: 3.157em;
