$red: #cb2027;
$blue: #2b7cb5;
$grey: #ced4da;
$ink: #1b1b1b;

$primary: $red;
$secondary: $blue;

$font-family:
  -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  "Roboto",
  "Oxygen",
  "Ubuntu",
  "Cantarell",
  "Fira Sans",
  "Droid Sans",
  "Helvetica Neue",
  sans-serif;

$breakpoints: (
  xs: 576px, //phones
  sm: 768px, // tablet
  md: 992px, // small screen
  lg: 1080px // large screen
);

// Perfect Fourth Modular Scale
$mt-1: 0.75rem;
$mt0: 1rem;
$mt1: 1.333rem;
$mt2: 1.777rem;
$mt3: 2.369rem;
$mt4: 3.157rem;
